@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&family=Roboto+Mono:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif; 
    margin: 0 auto;
    color: #555;
}

header {
    background-image: url(header.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    max-width: none;
    padding: 10vw 20em 12vw;
}

header>h1,header>p{
    color: white;
    margin: 0;
    width: 90%;
    font-weight: bold;
}

h1{
    font-size: 2.6em;
}

header>p{
    font-size: 1.8em;
}

.content{
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
}

ul{
    border-left: 5px solid #691bd0;
    border-right: 5px solid #691bd0;
    border-radius: 10px;
    padding: 0 4em;
}

li{
    font-size: 1.1em;
    list-style: none;
    margin: 1em 0;
}

.about p{
    font-size: 1.2em;
    margin: 2em 0 2em;
    text-align: center;
    font-weight: bold;
}

h2{
    color: #691bd0;
    text-align: center;
}

h3, strong {
    color: #333;
    margin-top: 2em;
}

.code {
    font-family: 'Roboto Mono', monospace;
    background: #f5f7f9;
    padding: 2px 4px;
    vertical-align: text-bottom;
    border-left: 2px solid #69c;
    border-bottom: 1px solid #d8dee9;
    border-radius: 9px;
    color: #777;
}

a {
    color: #691bd0;
    text-decoration: none;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

a:hover{
    color: #7a2ddf;
    transition: all 0.3s ease;
    transform: scale(1.06);
    display: inline-block;
}

a:active{
    color: #441189;
    transition: all 0.3s ease;
    transform: scale(1);
}

.commands{
    padding-bottom: 2em;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
}

th, td{
    padding: 0.6em;
    border: 1px solid white;
    border-spacing: 0;
    text-align: left;
}

th:first-child{
    width: 30%;
}

tr:nth-child(odd){
    background: #e6e6e6;
}

.contact{
    margin: 2em 0 3em;
}

form{
    background-color: #e6e6e6;
    margin: 0 auto;
    padding: 1em 3em;
    width: 60%;
    border-radius: 10px;
}

.form-group{
    margin: 1.4em 0;
}

label{
    color:#691bd0;
    font-weight: 600;
}

textarea{
    resize: none;
}

input, textarea{
    margin-top: 0.2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.3em 0.5em;
    font-size: 0.8em;
}

input:focus, textarea:focus{
    outline: 1px solid #691bd0;
}

input, label, textarea{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

button{
    background-color: #691bd0;
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 0.5em 1em;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    color: white;
}

button:hover{
    background-color: #7a2ddf;
    transition: all 0.3s ease;
    transform: scale(1.06);
}

button:active{
    background-color: #441189;
    transition: all 0.3s ease;
    transform: scale(1);
}

footer{
    background: #fad6f4;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 auto;
    padding: 3em;
    text-align: center;
}